@import "variables";

body {
  //background-color: $dark-active;
  //overflow-x: hidden;
}

.main-layout {
  padding: 15px;
  color: $white;
  //height: 100%;
  //width: 100%;
  border: 1px solid $main;
  //background-color: orange;
}
.m-form__help {
  border: 1px red solid;
}
//
//.header {`
//  transition: .5s;
//  height: 60px;
//  //background-color: $dark;
//  display: flex;
//  align-items: center;
//  padding: 0.5em;
//  &-logo,
//  &-profile {
//    height: 100%;
//    & a,
//    img {
//      display: block;
//      height: 100%;
//    }
//  }
//  &-profile {
//    position: relative;
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    margin-left: auto !important;
//
//    & img {
//      border-radius: 3px;
//    }
//    & a {
//      text-decoration: none;
//    }
//    &-notify {
//      height: 15px;
//      width: 15px;
//      border: 1px solid $main;
//      position: absolute;
//      background-color: $warning-hover;
//      border-radius: 50%;
//      top: -5px;
//      right: -5px;
//    }
//  }
//}
//
//.main-layout-content {
//
//  max-width: 100%;
//  height: calc(100vh - 60px);
//  //border: rebeccapurple 3px solid;
//}
//
//.footer {
//  color: black;
//  background-color: $dark-hover;
//  height: 60px;
//  display: flex;
//  &_field {
//    //border: #1a2931 1px solid;
//    //color: $white;
//    margin: 5px;
//    width: 100%;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    justify-content: center;
//  }
//}
//
//@media (min-width: 1200px) {
//  .header {
//    padding: 0.5em 5%;
//  }
//}
//@media (min-width: 1600px) {
//  .header {
//    padding: 0.5em 10%;
//  }
//}
