<template>
  <div class="main-layout">
    <el-form
      ref="formRef"
      :model="murr_card"
      @submit.prevent="sendCreateMurrCardRequest"
    >
      <el-form-item label="Заголовок">
        <el-input v-model.trim="murr_card.title"></el-input>
<!--        <div v-if="validMurrCardTitleRequired" class="m-form__help">-->
<!--          Какое у тебя имя в Мурренган?-->
<!--        </div>-->
      </el-form-item>

      <el-form-item label="Контент">
        <el-input v-model.trim="murr_card.content" type="textarea"></el-input>
      </el-form-item>
      <el-button type="primary" native-type="submit" :loading="loading">
        мурр мурр
      </el-button>
    </el-form>
  </div>
</template>

<script>
import "./assets/scss/app.scss";
import axios from "axios";
import { required, maxLength } from "@vuelidate/validators";

export default {
  name: "App",
  data() {
    return {
      loading: false,
      // murr_card: {
        content: "",
        title: "",
      // },\
    };
  },
  // computed: {
  //   validMurrCardTitleRequired() {
  //     return this.$v.title.$dirty && !this.title.maxLength;
  //   },
  // },
  // validations: {
  //     title: { required, maxLength: maxLength(224) },
  // },
  methods: {
      async sendCreateMurrCardRequest() {
        if (this.$v.$invalid) {
          this.$v.$touch();
          return;
        }
        try {
          const { data, status } = await axios.post(
            `/api/murr_card/`,
            this.murr_card
          );

          console.log(data);
          console.log(status);

          // if (status === 200) {
            // commit(MURR_CARDS_APPEND, data);

            // return {
            //   success: true,
            //   data,
            //   existsNextPage: data.next !== null,
            // };
          // }

          // return { success: false, data };
        } catch (error) {
          console.log("Ошибка");
          console.log(error);
          console.log("Ошибка");
          // return handlerErrorAxios(error);
        }
      },
    },

};
</script>

<style lang="scss">
/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*  background-color: ;*/
/*}*/
</style>
